<!doctype html>
<!-- custom_template.html.tmpl -->
<html>
<head>
    <title>{{testName}} Test</title>
    {{testScript}}
    <script src="packages/test/dart.js"></script>
    <script src="webassembly/build/3.36.00/wasm/sqlite3.debug.normal.js"></script>
</head>
<body>
// ...
</body>
</html>